@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    padding-left: 315px;
    background-color: #08d9e4;
}

section{
    min-height: 90vh;
    padding: 10px;
    margin: 10px;
}

header{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 315px;
  /*  background: #0eb5f7; */
    background-color: #112031;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .me img{
    border-radius: 50%;
    height: 240px;
    width: 240px;
    object-fit: cover;
    margin: 32px;
    border: white solid; 
}

header .me h1{
    font-size: 35px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

header .nav{
    width:100%;
}

header .nav ul{
    list-style: none;
    padding: 16px 32px;
    margin-top: 20px;
}

header .nav ul li a{
    display: block;
    padding: 16px;
    background-color: black;
    color:white;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

header .nav ul li a:hover{
    background-color: darkblue;
}

#menu{
    position: fixed;
    top:15px;
    right:15px;
    color:white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    z-index: 1000;
    display: none;
    background-color:#333;
}

/* Home page styling */
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 2.4px;
}

.home h1{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 42px;
}
.home h3{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 35px;
}

.home p{
    font-family:'Crimson Text', serif;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 0px;

}

.home a{
    padding: 10px 4px;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin: 15px 0;
    font-size: 17px;
    width:fit-content;
}

.home a:hover{
    background-color: darkblue;
}

/* education page styling */
.edu{
    display: none;
    justify-content: center;
    flex-flow: column;
    padding: 2.4px;
}

.edu h1{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 42px;
    margin-bottom:5%;
    color: #055052;
}

.edu .row{
    display: flex;
    justify-content: space-evenly;
  }
    
.edu .row .col{
    float: center;
    width: 45%;
    padding: 3px;
}

.col table{
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 1px solid #333;
font-family: 'ubuntu';
background-color: #F3F2C9;
}

.col table:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col th, td {
    text-align: center;
    padding: 16px;
}

.col tr:nth-child(even) {
background-color: #f2f2f2;
}


.col .imgcollege{
    width:40%;
    height:40%;
}

.col .imgcollege1{
    width: 20.7%;
    height: 10%;
}
.col a{
    color: purple;
}
  
/* Skills Page Styling */
.skills{
    display: none;
    justify-content: center;
    flex-flow: column;
    padding: 2.4px;
}

.skills h1{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 42px;
    color: #055052;
}

.skills .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .list .skillbox{
    width: 300px;
    background-color:#F3F2C9 ;
    text-align: center;
    padding: 32px;
    margin: 32px;
}

.skills .list .skillbox:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills .list .skillbox h3{
    color: #0d8185;
    font-size: 19px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Project Page Styling*/
.pro{
    display: none;
    justify-content: center;
    flex-flow: column;
    padding: 2.4px;
}

.pro h1{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 42px;
    color: #055052;
    margin:2%
}

.pro .prolist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pro .prolist .probox{
    width: 70%;
    background-color:#F3F2C9 ;
    text-align: center;
    padding: 32px;
    margin: 32px;
    height: 25%;
}

.pro .prolist .probox:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pro .prolist .probox h3{
    color: #0d8185;
    font-size: 21px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pro .prolist .probox ul{
    margin: 20px 0;
}

.pro .prolist .probox ul li{
    text-align: justify;
    font-size: 18px;
}


/* Contact Page Styling */
.contact{
    display: none;
    justify-content: center;
    flex-flow: column;
    padding: 2.4px;
}

.contact h1{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 42px;
    color: #055052;
    margin:2%
}

.contact .c_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .c_form .form{
    padding: 16px;
    background-color:#F3F2C9 ;
    color: #333;
    text-transform: none;
    font-family: 'Times New Roman', Times, serif;
    border-color: white;
    font-size: 18px;
    width: 320px;
    text-align: center;
}


.contact .c_form .form_button{
    background-color: black;
    margin-top:5px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    width: 110px;
    height: 50px;
    color: white;

}
.contact .c_form .form_button:hover{
    background-color: darkblue;
}

.contact .info{
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.contact .info a{
    margin:20px;
    color: black;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 10px;
}

.contact .info a:hover{
    color: purple;
}

footer{
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;

}


/* Responsive */

@media (max-width:1200px){
    html{
        font-size: 70%;
    }
    .home{
        padding: 15px 40px;
    }
}

@media (max-width:900px){
    .header{
        left:-100%;
    }

    #menu{
        display: block;
    }

    .header.responsive{
        left: 10%;
    }
    .body{
        padding: 0;
    }

    /* .body.res{
        padding:221px;
    } */
}

@media (max-width:500px){
    header{
        width: 100vw;
    }
    /* .body{
        padding:0;
    } */

    .skills .list .skillbox{
        width: 95vw;
    }

    .edu .row{
        display: inline-block;
    }
    .edu .row .col{
        width: 90%;
        margin: 5%;
    }



}